// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/SourceSansPro/SourceSansPro-Regular.ttf)
//
// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro Light"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/SourceSansPro/SourceSansPro-Light.ttf)
//   font-weight: 300
//
// @font-face
//   font-family: "Source Sans Pro"
//   src: local("Source Sans Pro Semibold"), url(https://cdn.jsdelivr.net/gh/xaoxuu/cdn-fonts/SourceSansPro/SourceSansPro-Semibold.ttf)
//   font-weight: 600


/* cyrillic-ext */
@font-face
  font-family: "Ubuntu"
  font-style: normal
  font-weight: 300
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2')